.img{
    background-image: url('https://cdn.shopify.com/s/files/1/0636/2303/7146/files/7156_-_Lifestyle_-_04.jpg?v=1697518983');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}